# fly.toml app configuration file generated for klaxon on 2026-02-15T21:23:57-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'klaxon'
primary_region = 'iad'
console_command = '/rails/bin/rails console'

[build]

[deploy]
  release_command = './bin/docker-entrypoint'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256

[[statics]]
  guest_path = '/rails/public'
  url_prefix = '/'
