<% if @feed_items.empty? %>

<%= render partial: 'layouts/bookmarklet' %>

<% else %>

<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Feed</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Below is a quick look at everything Klaxon is monitoring for your organization, even items you don't subscribe to. Each line represents a newly watched page or a change to an existing one, known as a "snapshot."</p>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div><!-- /.container -->
</div>
<div class="klax-section">
  <div class="container">
    <div class="row">
        <div class="col-md-9">
          <h4 style="margin-top: 0;" class="klax-spacer-md">The Latest</h4>

          <% @feed_items.each do |item| %>
            <% if item.is_a?(Change) %>
              <%= render partial: 'watching/feed_change', locals: { change: item } %>
            <% else %>
              <%= render partial: 'watching/feed_snapshot', locals: { snapshot: item } %>
            <% end %>
          <% end %>

        </div>

        <div class="col-md-3">
          <%= render partial: 'watching/activity' %>
        </div>

    </div>
  </div>
</div>

<% end %>
